$slide-height: 923px;
$visible-height: 923px;
$visible-width: 100vw;


#slider {
    width: $visible-width;
    height: $visible-height;
    overflow: hidden;
}

#slider {

    .slides {
        display: block;
        height: $slide-height;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 0;
        top: 0;
    }

    .slide {
        float: left;
        list-style-type: none;
        width: $visible-width;
        height: $slide-height;
    }

    .slide img {
        width: $visible-width;
    }
}

#slider-container {
    position: relative;
}

#slider-container {

    .slider-button {
        position: absolute;
        top: 50%;
    }

    #slide-left {
        left: 5px;
    }

    #slide-right {
        right: 5px;
    }

    .slider-bars {
        text-overflow: clip;
        position: absolute;
        bottom: 5px;
        display: inline-block;
    }

    .slider-bars div {
        background-color: black;
        transition: background-color 0.4s;
        vertical-align: top;
        width: 30px;
        height: 20px;
        padding: 10px;
        float: left;
    }
}


